<div id="readFrame">
  <!--  -->
  <table
    cellspacing="0"
    cellpadding="0"
    style="border: 1px solid #ccc; width: 100%"
  >
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="background-color: #6e95ff; width: 100%">
          <div
            style="
              display: flex;
              justify-content: space-between;
              height: 60px;
              align-items: center;
            "
          >
            <div style="padding-left: 32px; width: 100%; float: left">
              <p style="text-align: left">
                <!-- <img
                  src="https://images.draxfit-smart.com/prd/images/common/common/mail/logo.png"
                  style="height: 50px; width: 193px"
                  loading="lazy"
                /> -->
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="height: 60px; width: 100%">&nbsp;</td>
      </tr>
      <tr>
        <td style="padding-left: 5%; padding-right: 5%; width: 100%">
          <div style="color: #6e95ff">
            <p
              style="
                color: #6e95ff;
                font-size: 24px;
                display: flex;
                align-items: center;
              "
            >
              이메일 인증 번호:<h2>{{ code }}</h2>
              
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td
          style="
            padding-top: 20px;
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
          "
        >
          개.서.적에 오신것을 환영합니다. <br /><br /><strong
            style="font-weight: 700"
            >Bookky 드림</strong
          >
        </td>
      </tr>
      <tr>
        <td style="height: 60px; width: 100%">&nbsp;</td>
      </tr>
      <tr>
        <td
          style="
            height: 2px;
            width: 100%;
            background-color: #6e95ff;
            font-size: 0;
          "
        ></td>
      </tr>
      <tr>
        <td style="padding: 5%; width: 100%">
          <p style="color: #f68c30; font-weight: 700">
            이 메일은 발신 전용으로 회신되지 않습니다.
          </p>
          <p style="color: #b4b4b4">
            CORNER <br />경상남도 진주시 진주대로 501, 경상국립대학교 30동 313호
          </p>
          <p style="color: #505050; font-size: 15px">
            Copyright ⓒ 2022 CORNER All rights reserved.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
